{
	"AWSTemplateFormatVersion" : "2010-09-09",
	"Transform" : "AWS::Serverless-2016-10-31",
	"Description" : "An AWS Serverless Application.",

	"Resources" : {

		"Process" : {
			"Type" : "AWS::Serverless::Function",
			"Properties": {
				"Handler": "LambdaBiz.Serverless::LambdaBiz.Serverless.Functions::Process",
				"Runtime": "dotnetcore2.1",
				"CodeUri": "",
				"MemorySize": 256,
				"Timeout": 30,
				"Role": null,
				"Policies": [ "AWSLambdaBasicExecutionRole" ]
				
			}
		}

	}
}